<div class="jumbotron jumbotron-fluid text-center top-header-style">
  <h1><strong>My Reviews</strong></h1>
  <p>User can add and view reviews about stuff (laptops, books,magazines, movies, music etc). User can also comment on the reviews.</p> 
</div>